@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

h1 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}
.characters {
  font-family: 'Noto Sans', sans-serif;
  display: grid;
  grid-template-columns: auto auto auto;
}