.page-title {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  text-align: center;
}
.fighters {
  font-family: 'Noto Sans', sans-serif;
  display: grid;
  grid-template-columns: auto auto auto;
}